.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu__item {
  margin: 0px 25px;
}

.menu__item .menu__link-auth {
  background-color: #FFC30F;
  padding: 5px 10px;
  border-radius: 4px;
  color: #343838;
}

.menu__link:nth-child(1) {
  border-bottom: none;
}

.menu__link:nth-child(2) {
  border-bottom: none;
}

.menu__link {
  padding-bottom: 5px;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.menu__link:hover {
  border-bottom: 2px solid #FFC30F;
}

.active {
  border-bottom: 2px solid #FFC30F;
}

.active:hover {
  border-bottom: 2px solid #FFC30F;
}