.about {
  margin: 0 auto;
  padding: 0px 60px;
  width: 1080px;
}

.about__title {
  margin: 16px 0px 16px 0px;
  font-family: 'Open_sans-regular';
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

.about__text {
  margin: 15px 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}