.header {
  margin: 0 auto;
  background-color: #393E46;
}

.header-wrap {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1080px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
}

.header__link {
  color: #ffffff;
}