.feedback {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.feedback input {
  border: none;
  border-radius: 4px;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-family: 'Open_sans-light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #9D9D9D;
}

.feedback textarea {
  height: 125px;
  padding-top: 9px;
  border: none;
  border-radius: 4px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-family: 'Open_sans-light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #9D9D9D;
  resize: none;
}

.feedback button {
  margin-left: 125px;
  width: 151px;
  height: 41px;
  color: #000000;
  background-color: #FFC30F;
  border: none;
  border-radius: 4px;
  font-family: 'Open_sans-light', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.feedback button:hover {
  opacity: 0.7;
  transition: ease-in-out 0.2s;
}

.feedback__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}
